.post {
	background-color: white;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 20px;
}

.post-user {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}

.user-details {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
}

.user-details .name {
	margin: 0;
	margin-bottom: 2px;
}

.user-details .username {
	font-size: .8em;
	color: #9a9a9a;
}

.post-content {
	font-size: .9em;
}